# Make vim the default editor.
export EDITOR='vim';

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8';

# Increase Bash history size. Allow 32³ entries; the default is 500.
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";
# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth';

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${blue}";

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

# BCGDV Gitlab access token
export GITLAB_ACCESS_TOKEN=4z3w9qa2d8MpqTxTnFsH

# Vault address
export VAULT_ADDR='http://127.0.0.1:8200'

# Terraform AWS keys
export TF_VAR_aws_access_key=`aws configure get aws_access_key_id --profile default`
export TF_VAR_aws_secret_key=`aws configure get aws_secret_access_key --profile default`

# Set git prompt theme
export GIT_PROMPT_THEME=Minimal

# Default Node env to development
export NODE_ENV=development

# For SUMO http://sumo.dlr.de/wiki/Installing/MacOS_Build_w_Homebrew
export CPPFLAGS="$CPPFLAGS -I/opt/X11/include/"
export LDFLAGS="-L/opt/X11/lib"

export SUMO_HOME="/Users/groeneveld_james/Projects/SmartCity/MobilityHack/sumo"

export VIMRUNTIME="/usr/share/vim/vim80/"

export LUNA_REPO_PATH="/Users/groeneveld_james/Projects/luna"
export LUNA_LIBS_PATH="$LUNA_REPO_PATH/stdlib"